<div class="layout-row layout-xs-column">
<div class="layout-column flex-xs flex-gt-xs-50">
{{#paper-card as |card|}}
{{#card.title as |title|}}
{{#title.text as |text|}}
{{#text.headline}}{{character.name}}{{/text.headline}}
{{#text.subhead}}
<table>
  <tbody>
    <tr>
    <td>Initiative : {{character.initiative}}</td>
    <td>
      {{#paper-button raised=true mini=true primary=true onClick=(action "incrementProperty" "initiative" -5)}}-5{{/paper-button}}
      {{#paper-button raised=true mini=true primary=true onClick=(action "incrementProperty" "initiative" -1)}}-1{{/paper-button}}
      {{#paper-button raised=true mini=true onClick=(action "incrementProperty" "initiative" 1)}}+1{{/paper-button}}
      {{#paper-button raised=true mini=true onClick=(action "incrementProperty" "initiative" 5)}}+5{{/paper-button}}
    </td>
    </tr>
    <tr>
    <td>Points de vie : {{character.pv}}</td>
    <td>
      {{#paper-button raised=true mini=true primary=true onClick=(action "incrementProperty" "pv" -5)}}-5{{/paper-button}}
      {{#paper-button raised=true mini=true primary=true onClick=(action "incrementProperty" "pv" -1)}}-1{{/paper-button}}
      {{#paper-button raised=true mini=true onClick=(action "incrementProperty" "pv" 1)}}+1{{/paper-button}}
      {{#paper-button raised=true mini=true onClick=(action "incrementProperty" "pv" 5)}}+5{{/paper-button}}
    </td>
    </tr>
    <tr>
  <td>Actions : {{character.action}}</td>
  <td>
    {{#paper-button raised=true mini=true primary=true onClick=(action "incrementProperty" "action" -1)}}-1{{/paper-button}}
    {{#paper-button raised=true mini=true onClick=(action "incrementProperty" "action" 1)}}+1{{/paper-button}}</td>
  </tr>
  <tr>
  <td>{{character.rpg.powername}} : {{character.power}}</td>
  <td>
    {{#paper-button raised=true mini=true primary=true onClick=(action "incrementProperty" "power" -5)}}-5{{/paper-button}}
    {{#paper-button raised=true mini=true primary=true onClick=(action "incrementProperty" "power" -1)}}-1{{/paper-button}}
    {{#paper-button raised=true mini=true onClick=(action "incrementProperty" "power" 1)}}+1{{/paper-button}}
    {{#paper-button raised=true mini=true onClick=(action "incrementProperty" "power" 5)}}+5{{/paper-button}}
  </td>
  </tr>

  </tbody>
</table>
{{/text.subhead}}
{{/title.text}}
{{/card.title}}
{{/paper-card}}
{{yield}}
</div>
</div>
