<div class="layout-row layout-xs-column">
<div class="layout-column flex-xs flex-gt-xs-50">
{{#paper-card as |card|}}
{{#card.title as |title|}}
{{#title.text as |text|}}
{{#text.headline}}{{character.name}}{{/text.headline}}
{{#text.subhead}}
<table>
  <tbody>
    <tr>
  <td>Actions : {{character.actualaction}}/{{character.action}}</td>
  <td>
    {{#paper-button raised=true mini=true primary=true onClick=(action "incrementProperty" "actualaction" -1)}}-1{{/paper-button}}
    {{#paper-button raised=true mini=true onClick=(action "incrementProperty" "actualaction" 1)}}+1{{/paper-button}}</td>
  </tr>
  <tr>
  <td>{{character.rpg.powername}} : {{character.actualpower}}/{{character.power}}</td>
  <td>
    {{#paper-button raised=true mini=true primary=true onClick=(action "incrementProperty" "actualpower" -5)}}-5{{/paper-button}}
    {{#paper-button raised=true mini=true primary=true onClick=(action "incrementProperty" "actualpower" -1)}}-1{{/paper-button}}
    {{#paper-button raised=true mini=true onClick=(action "incrementProperty" "actualpower" 1)}}+1{{/paper-button}}
    {{#paper-button raised=true mini=true onClick=(action "incrementProperty" "actualpower" 5)}}+5{{/paper-button}}
  </td>
  </tr>
  <tr>
  <td>Points de vie : {{character.actualpv}}/{{character.pv}}</td>
  <td>
    {{#paper-button raised=true mini=true primary=true onClick=(action "incrementProperty" "actualpv" -5)}}-5{{/paper-button}}
    {{#paper-button raised=true mini=true primary=true onClick=(action "incrementProperty" "actualpv" -1)}}-1{{/paper-button}}
    {{#paper-button raised=true mini=true onClick=(action "incrementProperty" "actualpv" 1)}}+1{{/paper-button}}
    {{#paper-button raised=true mini=true onClick=(action "incrementProperty" "actualpv" 5)}}+5{{/paper-button}}
  </td>
  </tr>
  </tbody>
</table>
{{/text.subhead}}
{{/title.text}}
{{/card.title}}
{{/paper-card}}
{{yield}}
</div>
</div>
