{{#paper-list}}
{{#paper-item class="md-2-line"}}


  <div class="md-list-item-text">
    {{#link-to "addrpg" class="wrapper-link"}}
    {{paper-icon "add" size=48 }}
    {{/link-to}}
  </div>

{{/paper-item}}
{{paper-divider}}
{{#paper-subheader}}Liste des JDRs{{/paper-subheader}}
  {{#each rpgs as |item|}}
  {{#link-to "rpg" item.id class="wrapper-link"}}
    {{#paper-item class="md-2-line"}}

      {{#paper-button raised=true fab=true primary=true }}{{item.name}}{{/paper-button}}
      <div class="md-list-item-text">
            <h3>{{item.name}}</h3>
      </div>
      <div class="md-secondary-container">
        {{#paper-button  onClick=(action "deleteRpg" item.id)}}
        {{paper-icon "delete" }}
        {{/paper-button}}
      </div>
    {{/paper-item}}

  {{/link-to}}

  {{/each}}
{{/paper-list}}
