<h2>Add a Character</h2>
<div class="panel panel-danger">
  {{#each model.errors.name as |error|}}
    {{error.message}}
  {{/each}}
</div>
{{paper-input
  label="Name"
  value=name
  onChange=(action (mut name))
  required=true
  errorMessages=(hash
    required="Name is required."
  )
}}
{{paper-input
  label="Trigram"
  value=trigram
  onChange=(action (mut trigram))
  required=true
  errorMessages=(hash
    required="Trigram is required."
  )
}}
{{paper-input
  type="number"
  label="Initiative"
  value=initiative
  onChange=(action (mut initiative))
  min="0"
  errorMessages=(hash
    max="Enter more than 0"
  )
}}
{{paper-input
  type="number"
  label="pv"
  value=pv
  onChange=(action (mut pv))
  min="0"
  errorMessages=(hash
    max="Enter more than 0"
  )
}}
{{paper-input
  type="number"
  label="Action"
  value=action
  onChange=(action (mut action))
  min="0"
  errorMessages=(hash
    max="Enter more than 0"
  )
}}
{{paper-input
  type="number"
  label="Power"
  value=power
  onChange=(action (mut power))
  min="0"
  errorMessages=(hash
    max="Enter more than 0"
  )
}}

{{#paper-radio toggle=true value="friedn" groupValue=friend
value=true
  onChange=(action (mut friend))}}
  Friend
{{/paper-radio}}
{{#paper-button raised=true onClick=(action "addcharacter")}}Add Character{{/paper-button}}

{{outlet}}
