<h2>Add a RPG</h2>
<div class="panel panel-danger">
{{#each model.errors.name as |error|}}
  {{error.message}}
{{/each}}
</div>  
{{paper-input
  label="Name"
  value=name
  onChange=(action (mut name))
  required=true
  errorMessages=(hash
    required="Name is required."
  )
}}
{{paper-input
  label="Power Label"
  value=powername
  onChange=(action (mut powername))
}}
{{paper-input
  type="number"
  label="Maximum Initiative"
  value=maxinit
  onChange=(action (mut maxinit))
  min="0"
  errorMessages=(hash
    max="Enter more than 0"
  )
}}
{{#paper-button raised=true onClick=(action "addrpg")}}Add RPG{{/paper-button}}

{{outlet}}
