{{! without contextual components }}
{{#paper-toolbar}}
  {{#paper-toolbar-tools}}

  {{#paper-button iconButton=true}}
    <a href="/">{{paper-icon "home"}}</a>
  {{/paper-button}}




    <h2>
      Rpg Initiative
    </h2>

    <span class="flex"></span>
    <div class="md-secondary-container">
    {{#paper-speed-dial
      animation="fling" direction="down"
      open=open onToggle=(action (mut open)) as |dial|}}
      {{#dial.trigger}}
        {{#paper-button fab=true}}
          {{paper-icon "menu"}}
        {{/paper-button}}
      {{/dial.trigger}}

      {{#dial.actions as |actions|}}
        {{#actions.action}}
          {{#paper-button mini=true onClick=(action (mut showDialog) true)}}
            {{paper-icon "people"}}
          {{/paper-button}}
        {{/actions.action}}

        {{#actions.action}}
          {{#paper-button mini=true onClick=(action (mut showDialog) true)}}
            {{paper-icon "accessibility"}}
          {{/paper-button}}
        {{/actions.action}}

        {{#actions.action}}
          {{#paper-button mini=true onClick=(action (mut showDialog) true)}}
            {{paper-icon "check-circle"}}
          {{/paper-button}}
        {{/actions.action}}
      {{/dial.actions}}
    {{/paper-speed-dial}}
  </div>
    <!-- {{#paper-speed-dial
    animation="scale" direction="down"
    open="open" onToggle=(action (mut open)) as |dial|}}
    {{#dial.trigger}}
      {{#paper-button fab=true}}
        {{paper-icon "menu"}}
      {{/paper-button}}
    {{/dial.trigger}}

    {{#dial.actions as |actions|}}
      {{#actions.action}}
        {{#paper-button mini=true onClick=(action (mut showDialog) true)}}
          {{paper-icon "people"}}
        {{/paper-button}}
      {{/actions.action}}

      {{#actions.action}}
        {{#paper-button mini=true onClick=(action (mut showDialog) true)}}
          {{paper-icon "accessibility"}}
        {{/paper-button}}
      {{/actions.action}}

      {{#actions.action}}
        {{#paper-button mini=true onClick=(action (mut showDialog) true)}}
          {{paper-icon "check-circle"}}
        {{/paper-button}}
      {{/actions.action}}
    {{/dial.actions}}
{{/paper-speed-dial}} -->
<!-- {{#paper-menu isOpen=menuTwoIsOpen as |menu|}}
         {{#menu.trigger}}
           {{#paper-button onClick=null iconButton=true}}
             {{paper-icon "menu" class="md-menu-origin"}}
           {{/paper-button}}
         {{/menu.trigger}}

         {{#menu.content as |content|}}
             {{#content.menu-item onClick="openSomething"}}
               {{paper-icon "home" class="md-menu-align-target"}}
               <a href="/"><span>Home</span></a>
             {{/content.menu-item}}
             {{#content.menu-item onClick="openSomething"}}
               {{paper-icon "people" class="md-menu-align-target"}}
               <a href="/addrpg"><span>Add rpg</span></a>
             {{/content.menu-item}}
         {{/menu.content}}

       {{/paper-menu}} -->

  {{/paper-toolbar-tools}}

{{/paper-toolbar}}
{{outlet}}
