<h2>Battle ! </h2>
<p>
  {{#paper-item class="md-2-line"}}


<div class="md-secondary-container">
{{#link-to "rpg" model.id class="wrapper-link"}}
{{paper-icon "edit" size=48 rotate=180}}
{{/link-to}}
</div>

  {{/paper-item}}
{{paper-divider}}
  {{#each characterByInit as |group|}}
  {{#paper-subheader}}{{group.value}}{{/paper-subheader}}
  {{#each group.items as |item|}}
    {{#link-to "rpg-battle.character" item.id class="wrapper-link"}}
      {{#paper-item class="md-2-line"}}

        {{#paper-button raised=true fab=true primary=(if item.friend "true") accent=(unless item.friend "true") }}{{item.trigram}}{{/paper-button}}
        <div class="md-list-item-text">
          <h3>{{item.name}}</h3>
          <p>Points de vie restants : {{item.actualpv}}</p>
          <p>Actions restantes : {{item.actualaction}}</p>
          <p>{{model.powername}} restant : {{item.actualpower}}</p>
        </div>
      {{/paper-item}}

    {{/link-to}}
    {{/each}}

  {{paper-divider}}
  {{/each}}
</p>
{{outlet}}
