<h2>Manage ...</h2>
<p>
    {{#paper-item class="md-2-line"}}


      <div class="md-list-item-text">
        {{#link-to "addcharacter" model.id class="wrapper-link"}}
        {{paper-icon "add" size=48 }}
        {{/link-to}}
      </div>
<div class="md-secondary-container">
  {{#link-to "rpg-battle" model.id class="wrapper-link"}}
{{paper-icon "colorize" size=48 rotate=180}}
  {{/link-to}}
</div>

    {{/paper-item}}
  {{paper-divider}}
  {{#each characterByInit as |item|}}
  {{#link-to "rpg.character" item.rpg.id item.id class="wrapper-link"}}
      {{#paper-item class="md-2-line"}}

        {{#paper-button raised=true fab=true primary=(if item.friend "true") accent=(unless item.friend "true") }}{{item.initiative}} {{/paper-button}}
        <div class="md-list-item-text">
          <h3>{{item.name}}</h3>
          <p>Points de vie : {{item.pv}}</p>
          <p>Actions : {{item.action}}</p>
          <p>{{model.powername}} : {{item.power}}</p>
        </div>

<div class="md-secondary-container">
  {{#paper-button  onClick=(action "deleteCharacter" item.id)}}
  {{paper-icon "delete" }}
  {{/paper-button}}
</div>

      {{/paper-item}}
      {{/link-to}}


  {{paper-divider}}
  {{/each}}
</p>
{{outlet}}
